<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AbandonProcessGroup</key>
	<true/>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>net.herle.daily-backup</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/sherle/osx-backup/do-backup</string>
		<string>daily</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>8</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
